body {
	margin-top: 100px;
	margin-bottom: 150px;
	background-color: rgba(23, 160, 210, 0.1)
}
.po-relative {
	position: relative;
}
#max-temp {
	top: 3px;
}
#description {
	font-size: 12px;
	top: 5px;
}
#admin {
	color: #000000;
	text-align: center;
}
.line-top{
	border-top: solid 1px rgba(0, 0, 0, 0.3);
}
.line-bottom{
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
.icon-sun, .icon-cloud, .icon-cloudy, .icon-cloudy2, .icon-rainy, .icon-rainy2, .icon-lightning, .icon-snowy, .icon-mist, .icon-wind {
	font-size: 30px;
}
.icon-happy, .icon-sad {
	font-size: 36px;
}
.lend-count {
	font-size: 14px;
}
.icon-chevron-circle-up {
	font-size: 40px;
}
#page-top{
	display: block;
	position: fixed;
	z-index: 1040;
	bottom: -70px;
	right: 10px;
	width: 60px;
	padding: 10px 0 10px 0;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: .4s;
	border-radius: 40px;
}
#page-top:hover{
	background: rgba(0, 0, 0, 0.8);
}
.title-omit {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-omit {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}
.font-size-20 {
	font-size: 20px;
}
.side-margin-0 {
	margin-left: 0;
	margin-right: 0;
}
.previous:hover {
	color: #999999;
}
.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.nav-tabs .nav-link.active {
	background: linear-gradient(45deg,#17a2b8,  rgba(23, 160, 210, 0.1));
}

/**
 * ニュースティッカー
 */
.ticker-wrap {
	display: flex;
	width: 100%;
	background: #17a2b8;
	padding: 1px;
	border-radius: 6px;
}
.ticker-head {
	width: calc(4em + 8px);
	line-height: 50px;
	padding: 0 4px;
}
.ticker {
	width: 100%;
	height: 50px;
	font-size: 15px;
	background: #fff;
	line-height: 50px;
	padding: 0 6px;
	overflow: hidden;
	border-radius: 0px 5px 5px 0;
}
.ticker ul {
	position: relative;
	list-style: none;
	height: 100%;
	padding: 0;
	margin: 0;
}
.ticker-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-right: 0;
	opacity: 0;
}
.ticker-item a {
	display: inline-block;
	width: auto;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
	transition: transform 5s linear;
}
.ticker-date {
	font-weight: bold;
}
.ticker-title {
	margin-left: 10px;
}
.ticker-new {
	color: red;
	margin-left: 10px;
	animation: blink 1s ease-in-out infinite alternate;
}
.fadeInDown {
	opacity: 0;
}
.fadeInDown.run {
	animation: fadeInDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
.fadeOutDown {
	opacity: 1;
}
.fadeOutDown.run {
	animation: fadeOutDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(30px);
	}
}
@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}