@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q8it7t');
  src:  url('fonts/icomoon.eot?q8it7t#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?q8it7t') format('truetype'),
    url('/fonts/icomoon.woff?q8it7t') format('woff'),
    url('/fonts/icomoon.svg?q8it7t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-battery-full:before {
  content: "\e90c";
}
.icon-battery-empty:before {
  content: "\e90d";
}
.icon-happy:before {
  content: "\e05b";
}
.icon-sad:before {
  content: "\e05c";
}
.icon-check:before {
  content: "\e90a";
}
.icon-not:before {
  content: "\e90b";
}
.icon-sun:before {
  content: "\e900";
}
.icon-wind:before {
  content: "\e901";
}
.icon-cloudy:before {
  content: "\e902";
}
.icon-mist:before {
  content: "\e903";
}
.icon-cloud:before {
  content: "\e904";
}
.icon-lightning:before {
  content: "\e905";
}
.icon-rainy:before {
  content: "\e906";
}
.icon-rainy2:before {
  content: "\e907";
}
.icon-snowy:before {
  content: "\e908";
}
.icon-cloudy2:before {
  content: "\e909";
}
